# *********************************************************
# * This file is intended to be modified by the user for: *
# *                                                       *
# * (1) specifying:                                       *
# *     - path to Asiya software                          *
# *     - target/source language                          *
# *     - input format (nist|raw)                         *
# *     - input/output case (cs|ci)                       *
# *	- source file                                     *
# *     - system output files                             *
# *     - reference files                                 *
# *                                                       *
# * (2) defining:                                         *
# *    - metric sets                                      *
# *    - system sets                                      *
# *    - reference sets                                   *
# *                                                       *
# *********************************************************

#-------------------------------------------------------
# MANDATORY DEFINITIONS
#-------------------------------------------------------

input=raw

#SOURCE definition =============================
src=/home/ubuntu/datasets/remaining_sources
#REFERENCE definition ==================================
ref=/home/ubuntu/datasets/remaining_references
#SYSTEM OUTPUT definition ==============================
sys=/home/ubuntu/datasets/remaining_candidates
#-------------------------------------------------------

#-------------------------------------------------------
# OPTIONAL DEFINITIONS
#-------------------------------------------------------

#METRIC SET definition =================================

simple_metrics=BLEU NIST Ol

some_metrics=BLEU NIST METEOR-ex Ol -TERp

metrics_TER = -TER -TERbase -TERp -TERp-A

metrics_LF=BLEU GTM-1 GTM-2 GTM-3 NIST ROUGE-L ROUGE-S* ROUGE-SU* ROUGE-W -WER -PER -TER -TERbase -TERp -TERp-A METEOR-ex METEOR-st METEOR-sy METEOR-pa Ol SP-Op(*) SP-Oc(*) SP-lNIST SP-pNIST SP-iobNIST SP-cNIST CP-Op(*) CP-Oc(*) CP-STM-4 CP-STM-5 CP-STM-6 DP-Ol(*) DP-Oc(*) DP-Or(*) DP-HWCM_w-4 DP-HWCM_c-4 DP-HWCM_r-4 NE-Oe(*) NE-Me(*) SR-Or(*) SR-Mr(*) SR-Or SR-Orv(*) SR-Mrv(*) SR-Orv DR-Or(*) DR-Orp(*) DR-STM-4 DR-STM-5 DR-STM-6

metrics_CE_14=CE-BiDictO CE-Nc CE-Ne CE-Oc CE-Oe CE-Op CE-ippl CE-ipplC CE-ipplP CE-length CE-long CE-oov CE-short CE-symbols

metrics_LFCE=CE-BiDictA CE-BiDictO CE-Nc CE-Ne CE-Oc CE-Oe CE-Op CE-ippl CE-ipplC CE-ipplP CE-length CE-logp CE-logpC CE-logpP CE-long CE-oov CE-short CE-srcippl CE-srcipplC CE-srcipplP CE-srclen CE-srclogp CE-srclogpC CE-srclogpP CE-srcoov CE-symbols BLEU GTM-1 GTM-2 GTM-3 NIST ROUGE-L ROUGE-S* ROUGE-SU* ROUGE-W -WER -PER -TER -TERbase -TERp -TERp-A METEOR-ex METEOR-st METEOR-sy METEOR-pa Ol SP-Op(*) SP-Oc(*) SP-lNIST SP-pNIST SP-iobNIST SP-cNIST CP-Op(*) CP-Oc(*) CP-STM-4 CP-STM-5 CP-STM-6 DP-Ol(*) DP-Oc(*) DP-Or(*) DP-HWCM_w-4 DP-HWCM_c-4 DP-HWCM_r-4 NE-Oe(*) NE-Me(*) SR-Or(*) SR-Mr(*) SR-Or SR-Orv(*) SR-Mrv(*) SR-Orv DR-Or(*) DR-Orp(*) DR-STM-4 DR-STM-5 DR-STM-6

# ---------------------------------------------------------------------------

